.footer-container {
    background: #ffc0cb ;
    padding: 4rem 0 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 2rem
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.footer-information {
    width: 60%
}

.footer-subscription {
    align-items: center;
    text-align: center;
    color: #ff1493;
    font-weight: bold;
}

.footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 1.75rem;
}

/* Social Icons */
.social-icon-link {
    color: #ff1493;
    font-size: 24px;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

@media screen and (max-width: 820px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-media-wrap {
        flex-direction: column;
    }
}

